#
# Copyright © 2025 Ernst Strüngmann Institute (ESI) for Neuroscience
# in Cooperation with Max Planck Society
#
# SPDX-License-Identifier: BSD-3-Clause
#

stages:
    - tox
    - slurm
    - upload
    - deploy

linux_x86:
    stage: tox
    allow_failure: true
    tags:
    - deploy
    only:
    - main
    - dev
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda clean --all -y
    - conda env update -f acme.yml --prune
    - conda activate acme
    - tox

macos_m1:
    stage: tox
    allow_failure: true
    tags:
    - macos
    only:
    - main
    - dev
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda clean --all -y
    - conda env update -f acme.yml --prune
    - conda activate acme
    - export PYTHONPATH=$CI_PROJECT_DIR
    - rm -rf $CI_PROJECT_DIR/acme/__pycache__
    - rm -rf $CI_PROJECT_DIR/acme/tests/__pycache__
    - tox

slurm_x86:
    stage: slurm
    allow_failure: true
    tags:
    - slurm
    only:
    - main
    - dev
    variables:
        PYTEST_ADDOPTS: "--cov=acme/ --cov-config=.coveragerc --cov-report=xml"
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - source $HOME/.acme_codecov
    - conda clean --all -y
    - conda env update -f acme.yml --prune
    - conda activate acme
    - export PYTHONPATH=$CI_PROJECT_DIR
    - rm -rf $CI_PROJECT_DIR/acme/__pycache__
    - rm -rf $CI_PROJECT_DIR/acme/tests/__pycache__
    - srun -u -n 1 -p DEV --mem=8000m -c 1 pytest
    - codecov -t ${CODECOV_TOKEN}

slurm_ppc64le:
    stage: slurm
    allow_failure: true
    tags:
    - slurm-ppc
    only:
    - main
    - dev
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda clean --all -y
    - conda env update -f acme.yml --prune
    - conda activate acme
    - export PYTHONPATH=$CI_PROJECT_DIR
    - rm -rf $CI_PROJECT_DIR/acme/__pycache__
    - rm -rf $CI_PROJECT_DIR/acme/tests/__pycache__
    - srun -u -n 1 -p E880 --mem=8000m -c 4 pytest

pypi_test:
    stage: upload
    only:
    - main
    tags:
    - deploy
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda clean --all -y
    - conda env update -f acme.yml --prune
    - conda activate acme
    - conda install --yes twine keyring rfc3986
    - conda update --yes twine keyring rfc3986
    - rm -rf dist/ build/ esi_acme.egg-info/
    - python setup.py sdist bdist_wheel
    - tarname="$(basename -- $(ls dist/*.tar.gz) .tar.gz)"
    - version="${tarname#*-}"
    - version="${version%.tar.gz}"
    - twine upload --repository testpypi --config-file=~/.esipypirc dist/*
    - sleep 300
    - pyver=$(python --version | awk '{print $2}')
    - conda create --yes --name piptest python=$pyver
    - conda activate piptest
    - conda install --yes pip
    - pip --no-cache-dir install --extra-index-url https://test.pypi.org/simple esi-acme=="${version}"
    - python -c "from acme import ParallelMap"
    - conda deactivate
    - conda remove --yes --name piptest --all

pypi_deploy:
    stage: deploy
    when: manual
    only:
    - main
    tags:
    - deploy
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda activate acme
    - rm -rf dist/ build/ esi_acme.egg-info/
    - python setup.py sdist bdist_wheel
    - twine upload --config-file=~/.esipypirc dist/*
