#
# Copyright (c) 2025 Ernst Strüngmann Institute (ESI) for Neuroscience
# in Cooperation with Max Planck Society
#
# SPDX-License-Identifier: CC0-1.0
#

exclude codecov.yml
exclude .gitignore
exclude .gitlab-ci.yml
exclude MANIFEST.in
exclude .readthedocs.yml
exclude acme/tests/local_acme.py
exclude acme/tests/no_slurm.sh
exclude acme/tests/run_tests.*
recursive-exclude .github *
recursive-exclude doc *
